<launch>

  <include file="$(find rocon_gateway_tests)/launch/common/primary_hub.xml"/>
  <include file="$(find rocon_gateway_tests)/launch/wireless_handling/local_client.xml"/>

  <!-- app manager -->
  <arg name="robot_name" default="local_client"/>
  <arg name="robot_type" default="pc"/>
  <arg name="robot_icon" default="rocon_app_manager/cybernetic_pirate.png"/>
  <arg name="rapp_lists" default="rocon_apps/rocon.rapps"/> <!-- semi colon separated list of rapp list resource names --> 
  <include file="$(find rocon_app_manager)/launch/includes/_app_manager.xml">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="robot_type" value="$(arg robot_type)" />
    <arg name="robot_icon" value="$(arg robot_icon)" />
    <arg name="rapp_lists" value="$(arg rapp_lists)" />
  </include>

  <!-- conductor -->
  <node pkg="concert_conductor" type="conductor.py" name="conductor">
    <remap from="conductor/remote_gateway_info" to="gateway/remote_gateway_info" />
    <remap from="conductor/gateway_info" to="gateway/gateway_info" />
    <remap from="conductor/pull" to="gateway/pull" />
    <param name="auto_invite" value="true" />
  </node>

</launch>
