<!--
  Fires up the hub, gateway and a talker. We need to flip the talker.
 -->
<launch>

  <include file="$(find rocon_gateway_tests)/launch/common/primary_hub.xml"/>
  <include file="$(find rocon_gateway_tests)/launch/wireless_handling/local_gateway.xml"/>

  <include file="$(find rocon_gateway_tests)/launch/common/talker.xml">
    <arg name="anonymize" value="true" />
    <arg name="topic" value="advertised_chatter_from_local" />
  </include>

  <include file="$(find rocon_gateway_tests)/launch/common/talker.xml">
    <arg name="anonymize" value="true" />
    <arg name="topic" value="flipped_chatter_from_local" />
  </include>

  <include file="$(find rocon_gateway_tests)/launch/common/listener.xml">
    <arg name="anonymize" value="true" />
    <arg name="topic" value="advertised_chatter_from_remote" />
  </include>

  <include file="$(find rocon_gateway_tests)/launch/common/listener.xml">
    <arg name="anonymize" value="true" />
    <arg name="topic" value="flipped_chatter_from_remote" />
  </include>

</launch>
