<!-- 
  Launches the gateway hub (redis data store + zeroconf advertisement)
  
  Note that the script can instead be called directly if you wish.
  This just lets you 
-->
<launch>
  <arg name="port" default="0" /> <!-- zero instructs the script to find a free port -->
  <node pkg="rocon_gateway_hub" type="hub.py" name="gateway_hub" args="--port=$(arg port)"/>
</launch>
