<!-- 
  Launches the gateway hub (redis data store + zeroconf advertisement)
  
  Note that the script can instead be called directly if you wish.
  This just lets you 

  This launch file or script needs to launched as root

  Please do 
  > sudo bash
  > roslaunch rocon_gateway_hub hub.launch
-->
<launch>
  <node pkg="rocon_gateway_hub" type="hub.py" name="gateway_hub" output="screen">
    <rosparam param="name">Pirate Hub</rosparam>
    <rosparam param="zeroconf">true</rosparam>
  </node>
</launch>
