<launch>

  <arg name="hub_port" />
  <arg name="gateway1_port" />
  <arg name="gateway2_port" />
  <arg name="output" default="log" />

  <!-- launch the hub on a master running on hub_port -->
  <include file="$(find rocon_gateway_tests)/launch/includes/hub.launch">
    <arg name="port" value="$(arg hub_port)" />
    <arg name="output" value="$(arg output)" />
  </include>

  <!-- launch the gateway on a separate master running on port gateway_port -->
  <include file="$(find rocon_gateway_tests)/launch/includes/gateway.launch">
    <arg name="port" value="$(arg gateway1_port)" />
    <arg name="output" value="$(arg output)" />
  </include>
  <!-- launch a suite of test applications on the gateway -->
  <include file="$(find rocon_gateway_tests)/launch/includes/test_suite.launch">
    <arg name="port" value="$(arg gateway1_port)" />
  </include>
  <!-- advertise the test suite on the local gateway -->
  <node name="$(anon test_suite_advertisement)" pkg="rocon_gateway_tests" 
    type="gateway_req_result" args="$(arg gateway1_port) /gateway/advertise_all 'false []'" 
    output="$(arg output)" />

  <!-- launch a second gateway to do remote tests -->
  <include file="$(find rocon_gateway_tests)/launch/includes/gateway.launch">
    <arg name="port" value="$(arg gateway2_port)" />
  </include>

</launch>
