<launch>

  <!-- Hackish way of launching a roscore instance on a given port -->
  <!-- This is useful in roslaunch, as roslaunch itself no capabilities of launching multiple roscores -->
  <arg name="port"/>
  <arg name="output" default="log" />

  <node name="$(anon test_launch)" pkg="rocon_gateway_tests" type="roslaunch_port" args="rocon_gateway pirate.launch $(arg port)" output="$(arg output)"/>

</launch>

