<launch>

  <arg name="port"/>

  <!-- launch 2 publisher nodes, a subscriber node, a service node, an action server node and an action client node with a gateway -->
  <node name="talker" pkg="roscpp_tutorials" type="talker">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg port)" />
  </node>
  <node name="talker2" pkg="roscpp_tutorials" type="talker">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg port)" />
  </node>
  <node name="listener" pkg="roscpp_tutorials" type="listener">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg port)" />
  </node>
  <node name="add_two_ints_server" pkg="roscpp_tutorials" type="add_two_ints_server">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg port)" />
  </node>
  <node name="fibonacci_client" pkg="actionlib_tutorials" type="fibonacci_client">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg port)" />
  </node>
  <node name="averaging_server" pkg="actionlib_tutorials" type="averaging_server">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg port)" />
  </node>

</launch>
