<!--
  Simply launches a hub with a non-default hub name so we can 
  test hubs in parallel. 
-->
<launch>
  <node pkg="rocon_gateway_hub" type="hub.py" name="gateway_hub" output="screen">
    <rosparam command="load" file="$(find rocon_gateway_hub)/param/default.yaml" />
    <rosparam param="name">Pirate Hub</rosparam>
  </node>
</launch>
