<!--
  Simply launches a hub with a non-default hub name so we can 
  test hubs in parallel. 
-->
<launch>
  <node pkg="rocon_gateway_hub" type="hub.py" name="gateway_hub" output="screen">
    <rosparam param="name">Pirate Hub</rosparam>
    <rosparam param="port">6380</rosparam>
    <rosparam param="max_memory">10mb</rosparam>
    <rosparam param="zeroconf">true</rosparam>
  </node>
</launch>
