<!--
  Requirements for the gateway to actually do something:

  - a rocon hub has to be launched somewhere
  - a connection cache node for getting master state information
  - (optionally) zeroconf node around for automatic discovery
-->
<launch>
  <arg name="gateway_name" default="gateway"/>
  <arg name="gateway_watch_loop_period" default="5"/>
  <arg name="gateway_hub_uri" default=""               doc="if you need a non-zeroconf direct connection, e.g. http://192.168.1.1:6380"/>
  <arg name="gateway_hub_whitelist" default="[]"       doc="list of hub names, ips or regex patterns"/>
  <arg name="gateway_disable_uuids" default="false"/> <!-- manage unique naming of multiple gateways yourself -->
  <arg name="gateway_firewall" default="true"/> <!-- Typically nothing comes in! -->
  <arg name="gateway_disable_zeroconf" default="false" doc="do not find the hub with zeroconf, make sure you set gateway_hub_uri instead."/>
  <arg name="gateway_custom_rules_file" default="" doc="name of a custom file with gateway rules provided by the user (yaml)."/>

  <arg name="connection_cache_list" default="/rocon/connection_cache/list" doc="topic to listen for connection cache list of connections"/>
  <arg name="connection_cache_diff" default="/rocon/connection_cache/diff" doc="topic to listen for differences in connection cache list of connections"/>

  <group unless="$(arg gateway_disable_zeroconf)">
    <node ns="zeroconf" pkg="zeroconf_avahi" type="zeroconf" name="zeroconf"/>
  </group>
  <node pkg="rocon_gateway" type="gateway.py" name="gateway" output="screen">
    <rosparam command="load" file="$(find rocon_gateway)/param/default.yaml" />
    <rosparam command="load" file="$(find rocon_gateway)/param/default_blacklist.yaml" />
    <rosparam param="hub_whitelist" subst_value="True">$(arg gateway_hub_whitelist)</rosparam>
    <param name="name" value="$(arg gateway_name)"/>
    <param name="watch_loop_period" value="$(arg gateway_watch_loop_period)"/>
    <param name="firewall" value="$(arg gateway_firewall)"/>
    <param name="disable_uuids" value="$(arg gateway_disable_uuids)"/>
    <param name="hub_uri" value="$(arg gateway_hub_uri)"/>
    <param name="disable_zeroconf" value="$(arg gateway_disable_zeroconf)"/>
    <param name="custom_rules_file" value="$(arg gateway_custom_rules_file)"/>
    <!-- remapping subscriber to plug into connection cache -->
    <remap from="~connections_list" to="$(arg connection_cache_list)"/>
    <remap from="~connections_diff" to="$(arg connection_cache_diff)"/>
  </node>
</launch>
