<!--
  Works with rocon_gateway_hub/pirate.launch - uses a non-default hub
  name so we can test hubs in parallel. 
-->
<launch>
  <include file="$(find rocon_gateway)/launch/pirate.launch"/>
  <node pkg="roscpp_tutorials" type="talker" name="talker"/>
  <node pkg="roscpp_tutorials" type="listener" name="listener"/>
  <node name="add_two_ints_server" pkg="roscpp_tutorials" type="add_two_ints_server"/>
  <node name="fibonacci_client" pkg="actionlib_tutorials" type="fibonacci_client"/>
  <node name="averaging_server" pkg="actionlib_tutorials" type="averaging_server" output="screen">
    <remap from="averaging_server/goal" to="averaging/goal"/>
    <remap from="averaging_server/cancel" to="averaging/cancel"/>
    <remap from="averaging_server/result" to="averaging/result"/>
    <remap from="averaging_server/feedback" to="averaging/feedback"/>
    <remap from="averaging_server/status" to="averaging/status"/>
  </node>
</launch>
