<!--
  Works with rocon_gateway_demos/buccaneer_hub.launch. 
  
  This one does not use zeroconf to assist with discovery of the hub. 
  Use the /gateway/connect_hub service to provide a uri for connection.
-->
<launch>
  <node pkg="rocon_gateway" type="gateway.py" name="gateway" output="screen">
    <rosparam command="load" file="$(find rocon_gateway)/param/default.yaml" />
    <rosparam command="load" file="$(find rocon_gateway)/param/default_blacklist.yaml" />
    <rosparam param="name">buccaneer_gateway</rosparam>
  </node>
</launch>
