<!--
  Simple launcher to test fibonacci client that is flipped or pulled to another master.  
 -->
<launch>
  <node name="fibonacci_server" pkg="actionlib_tutorials" type="fibonacci_server" output="screen">
    <remap from="fibonacci_server/goal" to="fibonacci/client/goal"/>
    <remap from="fibonacci_server/cancel" to="fibonacci/client/cancel"/>
    <remap from="fibonacci_server/result" to="fibonacci/client/result"/>
    <remap from="fibonacci_server/feedback" to="fibonacci/client/feedback"/>
    <remap from="fibonacci_server/status" to="fibonacci/client/status"/>
  </node>
</launch>

