<!--
  Works with rocon_gateway_demos/pirate_hub.launch - uses a non-default hub
  name so we can test hubs in parallel. 
-->
<launch>
  <node ns="zeroconf" pkg="zeroconf_avahi" type="zeroconf" name="zeroconf"  output="screen"/>

  <node pkg="rocon_gateway" type="gateway.py" name="gateway" output="screen">
    <rosparam command="load" file="$(find rocon_gateway)/param/default.yaml" />
    <rosparam command="load" file="$(find rocon_gateway)/param/default_blacklist.yaml" />
    <rosparam param="hub_whitelist">['Pirate Hub']</rosparam>
    <rosparam param="name">pirate_gateway</rosparam>
    <rosparam param="firewall">false</rosparam>
  </node>
</launch>
