<launch>

  <arg name="hub_port" />
  <arg name="gateway_port" />

  <!-- launch the hub on a master running on hub_port -->
  <include file="$(find rocon_gateway_tests)/launch/test_hub.launch">
    <arg name="port" value="$(arg hub_port)" />
  </include>

  <!-- launch the gateway on a separate master running on port gateway_port -->
  <include file="$(find rocon_gateway_tests)/launch/test_gateway.launch">
    <arg name="port" value="$(arg gateway_port)" />
  </include>
  <!-- launch a suite of test applications on the gateway -->
  <include file="$(find rocon_gateway_tests)/launch/test_suite.launch">
    <arg name="port" value="$(arg gateway_port)" />
  </include>

</launch>
