<launch>

  <arg name="hub_port" default="23456" />
  <arg name="gateway_port" default="12345" />

  <!-- launch the hub on a separate master -->
  <node name="hub_core" pkg="rocon_gateway_tests" type="roscore" args="--port=$(arg hub_port)" output="screen">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg hub_port)" />
  </node>
  <include file="$(find rocon_gateway_hub)/launch/hub.launch"> 
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg hub_port)" />
  </include>

  <!-- launch the gateway on a separate master -->
  <node name="gateway_core" pkg="rocon_gateway_tests" type="roscore" args="--port=$(arg gateway_port)" output="screen">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg gateway_port)" />
  </node>
  <include file="$(find rocon_gateway)/launch/gateway.launch"> 
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg gateway_port)" />
  </include>

  <!-- launch 2 publisher nodes, a subscriber node, a service node, an action server node and an action client node with this gateway -->
  <node name="talker" pkg="roscpp_tutorials" type="talker">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg gateway_port)" />
  </node>
  <node name="talker2" pkg="roscpp_tutorials" type="talker">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg gateway_port)" />
  </node>
  <node name="listener" pkg="roscpp_tutorials" type="listener">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg gateway_port)" />
  </node>
  <node name="add_two_ints_server" pkg="roscpp_tutorials" type="add_two_ints_server">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg gateway_port)" />
  </node>
  <node name="fibonacci_client" pkg="actionlib_tutorials" type="fibonacci_client">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg gateway_port)" />
  </node>
  <node name="averaging_server" pkg="actionlib_tutorials" type="averaging_server">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg gateway_port)" />
  </node>

  <!-- launch the test -->
  <test name="multimaster_test" pkg="rocon_gateway_tests" type="test_advertisements_locally.py" test-name="test_advertisements_locally" time-limit="60.0">
    <env name="ROS_MASTER_URI" value="http://localhost:$(arg gateway_port)" />
  </test>

</launch>
  



